@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black antialiased select-none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Helvetica Neue", sans-serif;
  }
}

@layer utilities {
  .space-bg {
    background: radial-gradient(circle at 50% -10%, rgba(255, 255, 255, 0.08) 0%, rgba(0, 0, 0, 0) 70%);
  }
  .black-mirror-search {
    @apply bg-black border border-white/10 shadow-[inset_0_0_10px_1px_rgba(255,255,255,0.02)] backdrop-blur-3xl;
  }
}
